@{
    ViewData["Title"] = "Home Page";
}
<body style="background: url('/Content/images/2020-Mercedes-AMG-GT-R-007-2160-scaled.jpg') no-repeat center center fixed; background-size: cover;">
    <div class="content">
      
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

   
</body>

